body {
    font-family: 'Arial', sans-serif;
    background-color:rgb(174, 243, 243);
    color: #000000;
    margin: 20px;
}

.title{
    font-size: 35px;
    color: blue;
}

.logo{
    width: 300px;
}

.logo2{
    width: 575px;
}

#principal {
    font-size: 45px;
 }

#titulos{
    border: 2px solid blue;
    /* viewport width */
    width: 40vw;
    margin: auto;
    padding: 0em;
}

#cards1:hover{
    background-color: azure;
}

#cards2:hover{
    background-color: azure;
}

#cards3:hover{
    background-color: azure;
}

#cards4:hover{
    background-color: azure;
}